body {
  background-color: aquamarine;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  height: 60px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: green;
  color: black;
}

/* .section-1 { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;

} */

/* article {
  display: flex;
  /* flex-direction: column; */
  /* flex-flow: row wrap; */
/* } */ */

section {
  padding: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 200px;
}

.card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 40px;
}

.card {
  margin: 10px;
  border: 1px solid red;
}


.card img {
  height: 400px;
}

.card h2 {
  text-align: center;
  background-color: black;
  color: white;
}

.person-container {
  display: flex;
  flex-flow: row wrap;
  height: 400px;
}

.person img {
  height: 300px;
}

.person h2 {
  text-align: center;
  background-color: black;
  color: white;
}

.person {
  margin: 10px;
  border: 1px solid orangered;
}
